{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Feature Extractor</title>
    <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
        background-image: url("{% static 'images/chips-bg.png' %}");
        }
    </style>
    <script>
        function showLoading() {
            document.getElementById('loading').style.display = 'block';
        }
        function showFileName(input) {
            const fileName = input.files[0].name;
            document.getElementById('file-name').innerText = 'Selected file: ' + fileName;
        }
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h3>Feature Extractor</h3>
        </header>
        <div align="left"><a href="/"><i class="fa fa-arrow-left"></i> Home</a></div>
        <div align="right"><a href="history"><button class="btn min">History</button></a></div>
        <form method="post" enctype="multipart/form-data" onsubmit="showLoading()">
            {% csrf_token %}
            <div align="center" class="row">
            <div class="upload-btn-wrapper">
                <button class="btn">Upload an image</button>
                <input type="file" name="image" accept="image/*" required onchange="showFileName(this)">
            </div>
                <button type="submit" class="btn">Extract Feature</button>
            <p id="file-name"></p>
</div>
        </form>
        <div id="loading" class="loading"></div>
        {% if image_uploaded %}
            <div class="results">
                <img src="{{ uploaded_image_url }}" alt="Uploaded Image">
                <div class="result-details">
                    <h3>Results:</h3>
                    <p><label>EAN:</label> {{ EAN }}</p>
                    <p><label>MRP:</label> {{ MRP }}</p>
                    <p><label>Manufactured Date:</label> {{ manufactured_date }}</p>
                    <p><label>Expiry Date:</label> {{ expiry_date }}</p>
                    <p><label>Is Valid:</label> {{ is_valid }}</p><br><br>
                    <p><label>Text:</label> {{ text }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
