body {
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;
            color: white;
            font-family: Arial, sans-serif;
        }
        .container {
            width: 90%;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
        }
        header {
            background-color: #26a541;
            color: white;
            border-radius: 5px;
            width: 100%;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            font-size:14px;
            background-color: #26a541;
            color: white;
        }
        tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.1);
        }
        tr:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        img {
            max-width: 100px;
            border-radius: 5px;
        }
        .btn-danger {
            padding: 4px 10px;
            background-color: #ff0000;
            border: none;
            color: white;
            font-size :11px;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
        }
        a{
        color:white;
        text-decoration:none;
        }