    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        color: white;
        font-family: Arial, sans-serif;
    }
    .container {
            width: 90%;
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
        }
        header {
            background-color: #26a541;
            color: white;
            border-radius: 5px;
            width: 100%;
            height: 40px;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
        }
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }
        .btn {
            background-color: #26a541;
            color: white;
            padding: 8px 20px;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            font-size: 14px;
            margin-right: 10px;
        }
        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        .loading {
            display: none;
            position: relative;
            margin: 20px auto;
            width: 40px;
            height: 40px;
            border: 4px solid #26a541;
            border-radius: 50%;
            border-top: 4px solid transparent;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .results {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .results img {
            max-width: 50%;
            border-radius: 10px;
        }
        .result-details {
            margin-left: 20px;
            text-align: left;
        }
        .result-details h2 {
            margin-top: 0;
        }
        .result-details p {
            margin: 5px 0;
        }
        .result-details label {
            color: #26a541;
        }
        .row{
        display: flex;
  align-items: center;
  justify-content: center;
        }
        a{
        color:white;
        text-decoration:none;
        }
        .min {
        background-color: rgba(0, 0, 0, 0.5);
            border: 2px solid #26a541;
            padding: 5px 20px;
        }
        .min:hover{
        color: white;
            background-color: #26a541;
        }